@import url('https://fonts.googleapis.com/css?family=Cremona:400,700');

html,body{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Cremona', sans-serif;
    background-image: url(./assets/library.jpg);
    background-color: #DEDDDD;
    background-size: cover;
    background-attachment: fixed;
}

span {
    padding: 5px;
}

input[type="submit"] {
    background: #1fbfc2;
    border: 1px solid #1fbfc2;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #1fbfc2;
    border: 1px solid #1fbfc2;
}

input[type="submit"]:disabled, input[type="submit"]:disabled:hover {
    background: #B4B4B4;
    border: 1px solid #B4B4B4;
}

input[type="search"] {
    width: 250px;
    padding-right: 5px;
}

.form > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
}

.container{
    height: 100%;
    display: flex;
    margin: auto;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.welcomeMessage {
    color: #ffffffd1;
    text-align: center;
    min-width:200px;
    font-weight: 200;
    font-size: larger;
}

.cover {
    padding-top: 20px;
}

.myCollection, .totalCharge {
    background-color: #FFFFFFF0;
    color: #4b4b4b;
    margin-top: 5px;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    border-radius: 2px;
    font-size: 16px;
    padding: 3px;
}

.totalCharge {

    background: #1fbfc2;
    border: 1px solid #1fbfc2;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.titleSpan{
    text-align: left;
    flex-grow: 1;
}
